/*step pane*/
.business-container {
    position:relative;
}
.business-container:before {
    content: '';
    width: 70%;
    height: 7px;
    background: #000000;
    top: -7px;
    left: 0;
    position: absolute;
}
/*step pane*/

/*services*/
label.select-item.babel-ignore {
    border: 1px solid #e2e2e2;
    background-color: #fff;
    padding: 10px 15px;
}
/*services*/

/*add ons*/
.checkbox.babel-ignore {
    width: 47.5%;
    display: inline-block;
    background-color: #efefef;
    padding: 5px;
    margin: 5px;
}
#addons-prompt {
    background: #fff;
    padding: 10px !important;
}
#addons-container.has-addons{
    padding: 0;
}
/*add ons*/

/*category name*/
.select-label.babel-ignore {
    color: #f37f24;
}
/*category name*/

/*input checkbox*/
input[type='checkbox']:after {
    content: "";
    vertical-align: middle;
    text-align: center;
    line-height: 13px;
    position: absolute;
    cursor: pointer;
    height: 13px;
    width: 13px;
    left: 0;
    top: 0;
    font-size: 10px;
    background: #fff;
    border: 1px solid gray;
    border-radius: 3px;
}
input[type='checkbox']:checked:after {
    background: #f37f24;
    content: '\2714';
    color: #fff;
    border: 0;
}
/*input checkbox*/

/*calendar*/
.choose-date-time .choose-date-times .choose-time input[type="radio"]+label:hover, .reschedule-choose-date-time .choose-time input[type="radio"]+label:hover, .choose-date-time .date .choose-time-actions, .date .choose-time input[type="radio"]:checked+label, .reschedule-choose-date-time .date .choose-time input[type="radio"]:checked+label, .reschedule-choose-date-time .date .choose-time-actions, .choose-date-time .date-head-text, .reschedule-choose-date-time .date-head-text {
    color: #f37f24 !important;
    border-color: #f37f24 !important;
}

.choose-time-container label:hover, .choose-time-container label.checked, .btn-info, .btn-primary.disabled, .btn-primary[disabled], .btn-primary, .btn-primary:focus, .btn.btn-primary.btn-block.btn-next-step, .btn.btn-primary.submit-forms-payment, .btn.btn-primary:hover, .btn.btn-primary:active {
    background-color: #f37f24 !important;
}
/*calendar*/

/*add ons*/
#addons-prompt {
    font-weight: bold;
}
/*add ons*/