.johnCena, .template {
    display: none !important;
}

.widget-advanced-alt .widget-header {
    height: auto;
    min-height: 100px;
}

.has-error .form-control:read-only {
    background-color: #eee;
}

.preloader .inner {
    top: 35%;
}

.dz-image {
    height: auto !important;
    width: auto !important;
    padding: 10px !important;
}

.dz-details {
    height: auto !important;
    width: auto !important;
    padding: 10px !important;
}

.dz-image img {
    margin: auto;
    width: auto;
    height: 100px;
    border-radius: 5px;
}

.dz-remove-image-button {
    cursor: pointer !important;
}

.dz-preview {
    width: 120px !important;
    margin-bottom: 40px !important;
}

.gallery {
    margin: auto;
}

.gallery:after {
    content: '';
    display: block;
    clear: both;
}

.gallery-item {
    width: 33%;
    height: 325px;
    margin: 2px;
}

@media only screen and (min-width: 1250px) {
    .gallery-item {
        width: 430px;
        height: 325px;
        margin: 3.8px;
    }
}

@media only screen and (max-width: 1249px) {
    .gallery-item {
        width: 33%;
        height: 325px;
        margin: 2px;
    }
}

@media only screen and (max-width: 1097px) {
    .gallery-item {
        width: 32.63%;
        height: 285px;
        margin: 2px;
    }
}

@media only screen and (max-width: 767px) {
    .gallery-item {
        height: 225px;
        margin: 2px;
    }
}

@media only screen and (max-width: 590px) {
    .gallery-item {
        width: 47.333%;
        height: 235px;
        margin: 2px;
    }
}

@media only screen and (max-width: 425px) {
    .gallery-item {
        width: 100%;
        height: 235px;
        margin: 3px 0;
    }
}

@media only screen and (min-width: 1250px) {
    .gallery-item:nth-child(1) {
        width: 432px;
        height: 325px;
    }
}

@media only screen and (max-width: 1249px) {
    .gallery-item:nth-child(1) {
        width: 33%;
        height: 325px;
        margin: 2px;
    }
}

@media only screen and (max-width: 1097px) {
    .gallery-item:nth-child(1) {
        width: 32.63%;
        height: 285px;
        margin: 2px;
    }
}

@media only screen and (max-width: 767px) {
    .gallery-item:nth-child(1) {
        height: 225px;
        margin: 2px;
    }
}

@media only screen and (max-width: 590px) {
    .gallery-item:nth-child(1) {
        width: 47.333%;
        height: 235px;
        margin: 2px;
    }
}

@media only screen and (max-width: 425px) {
    .gallery-item:nth-child(1) {
        width: 100%;
        height: 235px;
        margin: 3px 0;
    }
}

@media only screen and (min-width: 1250px) {
    .gallery-item:nth-child(2) {
        width: 290px;
        height: 175px;
    }
}

@media only screen and (max-width: 1249px) {
    .gallery-item:nth-child(2) {
        width: 33%;
        height: 325px;
        margin: 2px;
    }
}

@media only screen and (max-width: 1097px) {
    .gallery-item:nth-child(2) {
        width: 32.63%;
        height: 285px;
        margin: 2px;
    }
}

@media only screen and (max-width: 767px) {
    .gallery-item:nth-child(2) {
        height: 225px;
        margin: 2px;
    }
}

@media only screen and (max-width: 590px) {
    .gallery-item:nth-child(2) {
        width: 47.333%;
        height: 235px;
        margin: 2px;
    }
}

@media only screen and (max-width: 425px) {
    .gallery-item:nth-child(2) {
        width: 100%;
        height: 235px;
        margin: 3px 0;
    }
}

@media only screen and (min-width: 1250px) {
    .gallery-item:nth-child(3) {
        width: 197px;
        height: 175px;
    }
}

@media only screen and (max-width: 1249px) {
    .gallery-item:nth-child(3) {
        width: 33%;
        height: 325px;
        margin: 2px;
    }
}

@media only screen and (max-width: 1097px) {
    .gallery-item:nth-child(3) {
        width: 32.63%;
        height: 285px;
        margin: 2px;
    }
}

@media only screen and (max-width: 767px) {
    .gallery-item:nth-child(3) {
        height: 225px;
        margin: 2px;
    }
}

@media only screen and (max-width: 590px) {
    .gallery-item:nth-child(3) {
        width: 47.333%;
        height: 235px;
        margin: 2px;
    }
}

@media only screen and (max-width: 425px) {
    .gallery-item:nth-child(3) {
        width: 100%;
        height: 235px;
        margin: 3px 0;
    }
}

@media only screen and (min-width: 1250px) {
    .gallery-item:nth-child(4) {
        width: 360px;
        height: 325px;
    }
}

@media only screen and (max-width: 1249px) {
    .gallery-item:nth-child(4) {
        width: 33%;
        height: 325px;
        margin: 2px;
    }
}

@media only screen and (max-width: 1097px) {
    .gallery-item:nth-child(4) {
        width: 32.63%;
        height: 285px;
        margin: 2px;
    }
}

@media only screen and (max-width: 767px) {
    .gallery-item:nth-child(4) {
        height: 225px;
        margin: 2px;
    }
}

@media only screen and (max-width: 590px) {
    .gallery-item:nth-child(4) {
        width: 47.333%;
        height: 235px;
        margin: 2px;
    }
}

@media only screen and (max-width: 425px) {
    .gallery-item:nth-child(4) {
        width: 100%;
        height: 235px;
        margin: 3px 0;
    }
}

@media only screen and (min-width: 1250px) {
    .gallery-item:nth-child(5) {
        width: 160px;
        height: 143px;
    }
}

@media only screen and (max-width: 1249px) {
    .gallery-item:nth-child(5) {
        width: 33%;
        height: 325px;
        margin: 2px;
    }
}

@media only screen and (max-width: 1097px) {
    .gallery-item:nth-child(5) {
        width: 32.63%;
        height: 285px;
        margin: 2px;
    }
}

@media only screen and (max-width: 767px) {
    .gallery-item:nth-child(5) {
        height: 225px;
        margin: 2px;
    }
}

@media only screen and (max-width: 590px) {
    .gallery-item:nth-child(5) {
        width: 47.333%;
        height: 235px;
        margin: 2px;
    }
}

@media only screen and (max-width: 425px) {
    .gallery-item:nth-child(5) {
        width: 100%;
        height: 235px;
        margin: 3px 0;
    }
}

@media only screen and (min-width: 1250px) {
    .gallery-item:nth-child(6) {
        width: 160px;
        height: 143px;
    }
}

@media only screen and (max-width: 1249px) {
    .gallery-item:nth-child(6) {
        width: 33%;
        height: 325px;
        margin: 2px;
    }
}

@media only screen and (max-width: 1097px) {
    .gallery-item:nth-child(6) {
        width: 32.63%;
        height: 285px;
        margin: 2px;
    }
}

@media only screen and (max-width: 767px) {
    .gallery-item:nth-child(6) {
        height: 225px;
        margin: 2px;
    }
}

@media only screen and (max-width: 590px) {
    .gallery-item:nth-child(6) {
        width: 47.333%;
        height: 235px;
        margin: 2px;
    }
}

@media only screen and (max-width: 425px) {
    .gallery-item:nth-child(6) {
        width: 100%;
        height: 235px;
        margin: 3px 0;
    }
}

@media only screen and (min-width: 1250px) {
    .gallery-item:nth-child(7) {
        width: 160px;
        height: 143px;
    }
}

@media only screen and (max-width: 1249px) {
    .gallery-item:nth-child(7) {
        width: 33%;
        height: 325px;
        margin: 2px;
    }
}

@media only screen and (max-width: 1097px) {
    .gallery-item:nth-child(7) {
        width: 32.63%;
        height: 285px;
        margin: 2px;
    }
}

@media only screen and (max-width: 767px) {
    .gallery-item:nth-child(7) {
        height: 225px;
        margin: 2px;
    }
}

@media only screen and (max-width: 590px) {
    .gallery-item:nth-child(7) {
        width: 47.333%;
        height: 235px;
        margin: 2px;
    }
}

@media only screen and (max-width: 425px) {
    .gallery-item:nth-child(7) {
        width: 100%;
        height: 235px;
        margin: 3px 0;
    }
}
