//THEME USE COLORS
// COMMON
$color-red:#f21b1b;
$color-white:#fff;
$color-black:#000000;
$color-dark:#565656;
// $color-orange:#ff8900;
// $color-orange2:#ef8f21;
// $color-orange:#ff8900;
$color-orange:#ce842e;
$color-orange2:#cc6e00;
$color-dark-orange:#d47225;
$color-yellow:#ff8901;
$color-gray:#b4b4b4;
$color-light-gray:#f3f2f2;
$color-primary:$color-dark;
$color-secondary:$color-orange;
$color-third:$color-black;