$font-primary:'Open Sans', sans-serif;
$font-secondary:'PT Sans', sans-serif;
$font-third:  'Avenir LT Std', sans-serif;
// $font-fourth: 'Georgia', sans-serif;

//FONT WEIGHT
$light:300;
$medium:500;
$regular:400;
$bold:700;
$xtrabold:800;
$semibold:600;


@font-face {
    font-family: 'Open Sans';
    src: url('../../public/fonts/OpenSans-Light.eot');
    src: url('../../public/fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../../public/fonts/OpenSans-Light.woff2') format('woff2'),
        url('../../public/fonts/OpenSans-Light.woff') format('woff'),
        url('../../public/fonts/OpenSans-Light.ttf') format('truetype'),
        url('../../public/fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../public/fonts/OpenSans-SemiBold.eot');
    src: url('../../public/fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../../public/fonts/OpenSans-SemiBold.woff2') format('woff2'),
        url('../../public/fonts/OpenSans-SemiBold.woff') format('woff'),
        url('../../public/fonts/OpenSans-SemiBold.ttf') format('truetype'),
        url('../../public/fonts/OpenSans-SemiBold.svg#OpenSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../public/fonts/OpenSans-Regular.eot');
    src: url('../../public/fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../public/fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../../public/fonts/OpenSans-Regular.woff') format('woff'),
        url('../../public/fonts/OpenSans-Regular.ttf') format('truetype'),
        url('../../public/fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../../public/fonts/PTSans-Bold.eot');
    src: url('../../public/fonts/PTSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../public/fonts/PTSans-Bold.woff2') format('woff2'),
        url('../../public/fonts/PTSans-Bold.woff') format('woff'),
        url('../../public/fonts/PTSans-Bold.ttf') format('truetype'),
        url('../../public/fonts/PTSans-Bold.svg#PTSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../public/fonts/OpenSans-Bold.eot');
    src: url('../../public/fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../public/fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../../public/fonts/OpenSans-Bold.woff') format('woff'),
        url('../../public/fonts/OpenSans-Bold.ttf') format('truetype'),
        url('../../public/fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../../public/fonts/PTSans-Italic.eot');
    src: url('../../public/fonts/PTSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('../../public/fonts/PTSans-Italic.woff2') format('woff2'),
        url('../../public/fonts/PTSans-Italic.woff') format('woff'),
        url('../../public/fonts/PTSans-Italic.ttf') format('truetype'),
        url('../../public/fonts/PTSans-Italic.svg#PTSans-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../../public/fonts/PTSans-BoldItalic.eot');
    src: url('../../public/fonts/PTSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../../public/fonts/PTSans-BoldItalic.woff2') format('woff2'),
        url('../../public/fonts/PTSans-BoldItalic.woff') format('woff'),
        url('../../public/fonts/PTSans-BoldItalic.ttf') format('truetype'),
        url('../../public/fonts/PTSans-BoldItalic.svg#PTSans-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../../public/fonts/PTSans-Regular.eot');
    src: url('../../public/fonts/PTSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../public/fonts/PTSans-Regular.woff2') format('woff2'),
        url('../../public/fonts/PTSans-Regular.woff') format('woff'),
        url('../../public/fonts/PTSans-Regular.ttf') format('truetype'),
        url('../../public/fonts/PTSans-Regular.svg#PTSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Avenir LT Std';
    src: url('../../public/fonts/AvenirLTStd-Medium.eot');
    src: url('../../public/fonts/AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../public/fonts/AvenirLTStd-Medium.woff2') format('woff2'),
        url('../../public/fonts/AvenirLTStd-Medium.woff') format('woff'),
        url('../../public/fonts/AvenirLTStd-Medium.ttf') format('truetype'),
        url('../../public/fonts/AvenirLTStd-Medium.svg#AvenirLTStd-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('../../public/fonts/AvenirLTStd-MediumOblique.eot');
    src: url('../../public/fonts/AvenirLTStd-MediumOblique.eot?#iefix') format('embedded-opentype'),
        url('../../public/fonts/AvenirLTStd-MediumOblique.woff2') format('woff2'),
        url('../../public/fonts/AvenirLTStd-MediumOblique.woff') format('woff'),
        url('../../public/fonts/AvenirLTStd-MediumOblique.ttf') format('truetype'),
        url('../../public/fonts/AvenirLTStd-MediumOblique.svg#AvenirLTStd-MediumOblique') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('../../public/fonts/AvenirLTStd-Book.eot');
    src: url('../../public/fonts/AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'),
        url('../../public/fonts/AvenirLTStd-Book.woff2') format('woff2'),
        url('../../public/fonts/AvenirLTStd-Book.woff') format('woff'),
        url('../../public/fonts/AvenirLTStd-Book.ttf') format('truetype'),
        url('../../public/fonts/AvenirLTStd-Book.svg#AvenirLTStd-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('../../public/fonts/AvenirLTStd-Roman.eot');
    src: url('../../public/fonts/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),
        url('../../public/fonts/AvenirLTStd-Roman.woff2') format('woff2'),
        url('../../public/fonts/AvenirLTStd-Roman.woff') format('woff'),
        url('../../public/fonts/AvenirLTStd-Roman.ttf') format('truetype'),
        url('../../public/fonts/AvenirLTStd-Roman.svg#AvenirLTStd-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('../../public/fonts/AvenirLTStd-BlackOblique.eot');
    src: url('../../public/fonts/AvenirLTStd-BlackOblique.eot?#iefix') format('embedded-opentype'),
        url('../../public/fonts/AvenirLTStd-BlackOblique.woff2') format('woff2'),
        url('../../public/fonts/AvenirLTStd-BlackOblique.woff') format('woff'),
        url('../../public/fonts/AvenirLTStd-BlackOblique.ttf') format('truetype'),
        url('../../public/fonts/AvenirLTStd-BlackOblique.svg#AvenirLTStd-BlackOblique') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('../../public/fonts/AvenirLTStd-Light.eot');
    src: url('../../public/fonts/AvenirLTStd-Light.eot?#iefix') format('embedded-opentype'),
        url('../../public/fonts/AvenirLTStd-Light.woff2') format('woff2'),
        url('../../public/fonts/AvenirLTStd-Light.woff') format('woff'),
        url('../../public/fonts/AvenirLTStd-Light.ttf') format('truetype'),
        url('../../public/fonts/AvenirLTStd-Light.svg#AvenirLTStd-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('../../public/fonts/AvenirLTStd-Heavy.eot');
    src: url('../../public/fonts/AvenirLTStd-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../../public/fonts/AvenirLTStd-Heavy.woff2') format('woff2'),
        url('../../public/fonts/AvenirLTStd-Heavy.woff') format('woff'),
        url('../../public/fonts/AvenirLTStd-Heavy.ttf') format('truetype'),
        url('../../public/fonts/AvenirLTStd-Heavy.svg#AvenirLTStd-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('../../public/fonts/AvenirLTStd-HeavyOblique.eot');
    src: url('../../public/fonts/AvenirLTStd-HeavyOblique.eot?#iefix') format('embedded-opentype'),
        url('../../public/fonts/AvenirLTStd-HeavyOblique.woff2') format('woff2'),
        url('../../public/fonts/AvenirLTStd-HeavyOblique.woff') format('woff'),
        url('../../public/fonts/AvenirLTStd-HeavyOblique.ttf') format('truetype'),
        url('../../public/fonts/AvenirLTStd-HeavyOblique.svg#AvenirLTStd-HeavyOblique') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('../../public/fonts/AvenirLTStd-BookOblique.eot');
    src: url('../../public/fonts/AvenirLTStd-BookOblique.eot?#iefix') format('embedded-opentype'),
        url('../../public/fonts/AvenirLTStd-BookOblique.woff2') format('woff2'),
        url('../../public/fonts/AvenirLTStd-BookOblique.woff') format('woff'),
        url('../../public/fonts/AvenirLTStd-BookOblique.ttf') format('truetype'),
        url('../../public/fonts/AvenirLTStd-BookOblique.svg#AvenirLTStd-BookOblique') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('../../public/fonts/AvenirLTStd-Oblique.eot');
    src: url('../../public/fonts/AvenirLTStd-Oblique.eot?#iefix') format('embedded-opentype'),
        url('../../public/fonts/AvenirLTStd-Oblique.woff2') format('woff2'),
        url('../../public/fonts/AvenirLTStd-Oblique.woff') format('woff'),
        url('../../public/fonts/AvenirLTStd-Oblique.ttf') format('truetype'),
        url('../../public/fonts/AvenirLTStd-Oblique.svg#AvenirLTStd-Oblique') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('../../public/fonts/AvenirLTStd-Black.eot');
    src: url('../../public/fonts/AvenirLTStd-Black.eot?#iefix') format('embedded-opentype'),
        url('../../public/fonts/AvenirLTStd-Black.woff2') format('woff2'),
        url('../../public/fonts/AvenirLTStd-Black.woff') format('woff'),
        url('../../public/fonts/AvenirLTStd-Black.ttf') format('truetype'),
        url('../../public/fonts/AvenirLTStd-Black.svg#AvenirLTStd-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('../../public/fonts/AvenirLTStd-LightOblique.eot');
    src: url('../../public/fonts/AvenirLTStd-LightOblique.eot?#iefix') format('embedded-opentype'),
        url('../../public/fonts/AvenirLTStd-LightOblique.woff2') format('woff2'),
        url('../../public/fonts/AvenirLTStd-LightOblique.woff') format('woff'),
        url('../../public/fonts/AvenirLTStd-LightOblique.ttf') format('truetype'),
        url('../../public/fonts/AvenirLTStd-LightOblique.svg#AvenirLTStd-LightOblique') format('svg');
    font-weight: 300;
    font-style: italic;
}



