    @keyframes cssAnimation {
    from {  -webkit-transform: scale(1) translate(0px);   }
    to {  -webkit-transform: scale(1.3) translate(0px);   }
    }
    @-webkit-keyframes cssAnimation {
        from {   -webkit-transform: scale(1) translate(0px); }
        to { -webkit-transform: scale(1.3) translate(0px); }
    }
    @-moz-keyframes cssAnimation {
        from {   -webkit-transform: scale(1) translate(0px); }
        to { -webkit-transform: scale(1.3) translate(0px); }
    }


.banner {
    // height: 700px;
    // display: block;
    background: transparent !important;


    @media only screen and (max-width:480px) {
        height: 350px;
    }

    &__wrapper {
        height: 100%;


        div {
            height: 100%;
        }

        .slick-prev.slick-arrow,
        .slick-next.slick-arrow {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            height: 52px;
            width: 52px;
            background-image: url('../../public/uploads/sprite.png');
            background-position: -0 0;
            border: 0;
            background-color: rgba(256,256,256,.9);
            text-indent: -999px;
            overflow: hidden;

            @media only screen and (max-width:480px) {
                top: inherit;
            }

            &:before {
                content: '';
                width: 0%;
                position: absolute;
                bottom: 0;
                height: 2px;
                background: $color-secondary;
                @include transition(.3s);
            }
        }

        .slick-prev.slick-arrow {
            left: 20px;
            z-index: 2;
            background-position: -269px -128px;

            &:before {
                left: 0;
            }

            &:hover,
            &:focus {
                &:before {
                    width: 80%;
                }
            }

            @media only screen and (max-width:800px) {
                left: -2px;
            }
        }

        .slick-next.slick-arrow {
            right: 20px;
            z-index: 2;
            background-position: -325px -128px;

            &:before {
                right: 0;
            }

            &:hover,
            &:focus {
                &:before {
                    width: 80%;
                }
            }

            @media only screen and (max-width:800px) {
                right: -2px;
            }
        }
    }

    .slick-item {
        height: 100%;
        background-size:cover;
    }



    &__item {
        position: relative;
        background-size: cover;

        @media only screen and (max-width:1024px) {
            &:before {
                content: '';
                display: block;
                width: 100%;
                position: absolute;
                height: 100%;
                @include t-black(.2);
            }
        }


        .container {
            position: absolute;
            bottom: 0%;
            left: 0;
            max-width:100%;
            margin: auto !important;
            left: 0;
            right: 0;
            height: 200px;
            overflow: hidden;
            padding-left: 10%;
            padding-right: 10%;

            @media only screen and (max-width:800px) and (min-width:481px) {
                // height: 250px;
                bottom: 0;

            }
            @media only screen and (max-width:480px) {
                top: 0;
            }
        }
    }
    &.main-banner {

        height: 100vh !important;
        width: 100% !important;
        display: block;

        @media only screen and (max-width:480px) {
            height: 400px !important;
        }

        .banner__item {

            @media only screen and (max-width:800px) {
                background-size: cover !important;
                background-position: center;
            }

            .slider-content {
                h1 {
                    font-size: em(59px);

                    @media only screen and (max-width:480px) {
                        font-size: 2em !important;
                    }

                    @media only screen and (max-width:800px) {
                        font-size: 2.2em !important;
                    }

                }

                p {
                    @media only screen and (max-width:800px) {
                        line-height: 18px;
                    }
                }
            }
        }
    }

    &.sub-banner {
        height: 550px;

        @media only screen and (max-width:1024px) {
            height: 300px;
        }

        @media only screen and (max-width:480px) {
            height: 150px;
        }


        &.banner-dashboard {
            height: 90px !important;

            .banner__wrapper {
                visibility: hidden;
                opacity: 0;
            }

            @media only screen and (max-width:480px) {
                display: none !important;
            }
        }

        .banner__item {
            // background-attachment:fixed;
            // background-size:100%;
            background-size: cover;

            .container {
                height: 150px;
                padding-left: 5%;

                @media only screen and (max-width:480px) {
                    // height: auto;
                    height: 50px;
                    // top: 0;
                    bottom: 10%;
                    margin: auto;
                    padding: 0 10px;
                }
            }

            .slider-content {
                h1 {
                    // font-size: em(50px);
                    font-size: 3.8em;


                    @media only screen and (max-width:800px) {
                        font-size: 2em;
                    }

                }
            }
        }
    }


}

