.btn {
    border: 1px solid $color-primary;
    @include border-radius(100px);
    text-transform: uppercase;
    font-size: .9em;
    display: inline-block;
    letter-spacing: 1px !important;
    color: $color-primary;
    font-weight: 700;
    padding: 9px 24px;

    &--width {
        width: 200px;
    }

    &--float-right {
        float: right;
        @media only screen and (max-width:1024px) {
            float: none;
        }
    }

    &--float-center {
        margin: auto;
        margin-top: 35px;
    }


    &.btn-calendar {
        background: $color-secondary;
        @include border-radius(100%);
        width: 80px;
        height: 80px;
        // background-image: url('../../public/uploads/calendar-icon.png');

        // background-size:50%;
        background-position: center;
        background-image: url('../../public/uploads/sprite.png');
        background-position: -4px -106px;
        background-repeat: no-repeat;
        text-indent: -99999px;
        overflow: hidden;
        position: absolute;
        right: 2%;
        top: 50px;
        z-index: 2;
        @include transition(.3s);
        border: 0;

        &:hover {
            opacity: .7;
            transform: scale(.9);
        }


        @media only screen and (max-width:800px) {
            width: 40px;
            height: 40px;
            display: block;
            font-size: 21px;
            background-position: -583px -204px;
            font-size: 21px;
            color: #fff;
            padding: 5px;
        }


        &.scrolling {
            position: fixed;
            // top: 15%;
            // right: 32px;
            z-index: 9;

            bottom: 10%;
            right: 15px;
            top: inherit;

            @media only screen and (max-width:1024px) and (min-width:481px) {
                top: 25%;
                right: 1%;
            }

            @media only screen and (max-width:480px) {
                position: fixed;
                // top: inherit;
                // bottom: 100px;
                width: 50px;
                top: 130px;
                height: 50px;
                display: block;
                right: 0;
                background-position: -580px -198px;
                right: 10px !important;

            }

        }
    }


    &.btn-download {
        color: #fff;
        display: inline-block;
        border: 0 !important;
        // padding: 0;
        border-radius: 0 !important;
        padding: 10px 12px;
        &:hover,
        &:focus {
            opacity: .7;
        }

    }

    &.primary-btn {
        &:hover,
        &:focus {
            background: $color-secondary;
            color: $color-white;
            border: 1px solid transparent !important;
        }
    }

    &.btn-mobile {
        border: 0;
        padding: 0;
        height: 25px;
        padding-top: 5px;
        padding-right: 15px;
        padding-left: 15px;
        color: $color-black;

    }

    &.secondary-btn {
        border: 0;
        box-shadow: none;
        padding-left: 0;
        color: $color-secondary;
        font-weight: 500;
        letter-spacing: 2px !important;
        font-size: em(18px);

        &:before {
            height: 2px;
            content: '';
            background: $color-secondary;
            display: inline-block;
            width: 60px;
            position: relative;
            top: -3px;
        }

        &:hover {
            color: $color-primary;
        }
    }

    &.btn.btn-schedule {
        background: $color-secondary;
        color: #fff;
        margin: auto !important;
        display: inline-block;
        border: 0;
        margin: 10px auto;

        &:hover,
        &:focus {
            background: $color-dark-orange;
            color: $color-white;
        }
    }
}




a {
    &#to-top {
        background: $color-secondary;
        padding: 10px 15px !important;
        bottom: 0;
        display: block;
        font-size: 1.5em;
        color: #fff;
        right: 0;
        position: fixed;
        display: none;
    }

    &.subscription-modal-btn {
        background: $color-secondary;
        display: inline-block;
        padding: 5px 10px;
        color: $color-white !important;
        font-weight: bold;
        @include transition(.3s);

        &:hover {
            opacity: .5;
        }
    }

    &.btn-payment {
        background: transparent;
        min-width: 260px;
        font-family: $font-third;
        letter-spacing: 2px !important;


        &:hover  {
            background: $color-secondary;
            border: 1px solid transparent;
        }
    }
}

