.main-dashboard {
    // &__left {

    // }

    &__right {
        &--sidebar {
            .btn {
                min-width: 200px;
            }

            .dashboard__support {
                .dashboard__body {
                    display: none;
                }
            }


        }
    }

    // &__header {

    // }




}

.dashboard-related {
    &__head {
        margin-bottom: 20px;

        &--title {
            h2 {
                text-transform: uppercase;
                position: relative;
                margin-bottom: 0px;
                font-size: 18px;
                font-weight: 400;
                font-family: $font-secondary;
                font-weight: 600;
            }
        }
    }

    &__body {
        ul {
            display: grid;
            display: -ms-grid;
            grid-template-columns: repeat(4,auto);
            grid-gap: 10px;

            @media only screen and (max-width:1100px) {
                grid-template-columns: repeat(2,auto);
            }
        }

    }

    &__image {
        min-height: 145px;
        background-size: cover;
        position: relative;
        overflow: hidden;

        &:before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            @include t-black(.7);
            @include transition(1s);
            opacity: 0;
        }


        &:hover {
            h4 {
                @include transform_translate(0,0%);
            }
            &:before {
                opacity: 1;
            }
        }



        h4 {
            position: absolute;
            @include transform_translate(0,150%);
            @include transition(1s);
            bottom: 10px;
            width: 90%;
            color: #fff;
            text-align: center;
            left: 0;
            right: 0;
            margin: auto;
            text-transform: uppercase;
            display: block;
            white-space: normal;
        }
    }



}


.dashboard {
    /* background: #f00; */
    border: 1px solid #a7a7a7;
    padding: 3em 2em;
    margin-bottom: 50px;

    @media only screen and (max-width:320px) {
        padding: 10px;
    }

    &__support {
        .contact-form {
            padding-top: 0;
            padding-bottom: 0;
        }

        .dashboard__footer {
            display: none;
        }

        .dashboard__body {
            margin-top: 55px;
        }

        .btn--width {
            float: left;
        }

        .article-main {
            padding-left: 100px;
            margin:0;
            ul.contact-list {
                margin:0;
                li {
                    text-align: left;

                    strong {
                        text-transform: uppercase;
                        margin-bottom: 10px;
                        font-weight: 300;
                        line-height: 24px;
                        font-size: 1.4em;
                        display: block;
                        color: #525252;
                        font-family: 'Open Sans', sans-serif;
                    }



                    @media only screen and (max-width:768px) {
                        margin-bottom: 5px;
                    }
                }
            }

            @media only screen and (max-width:1024px) {
                padding: 0;
            }
        }

    }

    &__profile {
        @media only screen and (min-width:1024px) {
            padding-left: 30%;
            padding-right: 30%;
        }
    }


    &__head {
        &--title {
            h2 {
                text-transform: uppercase;
                position: relative;
                padding-bottom: 15px;
                margin-bottom: 20px;
                font-size: 18px;
                font-weight: 400;
                font-family: $font-secondary;
                font-weight: 600;

                &:after {
                    content: '';
                    width: 60px;
                    background: $color-secondary;
                    height: 2px;
                    position: absolute;
                    left: 0; // right: 0;
                    // margin: auto;
                    bottom: 0;
                }
            }
            &.no-underline {
                h2 {
                    &:after {
                        display: none;
                    }
                }

            }

            &.text-center {
                h2 {
                    text-align: center;
                    &:after {
                        left: 0;
                        right: 0;
                        margin: auto;
                    }
                }
            }

        }

        &--inside {
            margin-bottom: 45px;
            @media only screen and (max-width:480px) {
                margin-bottom: 20px;
            }

            h2 {
                margin:0;
                padding: 0;
                font-size: em(60px);
                text-transform: uppercase;
                font-family: $font-third;
                font-weight: 300;
            }

            &:after {
               display: block;
               clear: both;
               content: '';
            }
        }


    }



    &__status {
        float: left;

        &--item {
            display: block;
            float: left;
            font-family: $font-third;
        }
        &--dates {
            color: $color-gray;
            text-transform: uppercase;
            margin-right: 15px;
        }

        &--counts {
            font-family: $font-third;
            letter-spacing: 1px;
        }

    }

    &__download {
        float: right;

        @media only screen and (max-width:480px) {
            float:none;
            text-align: center;
        }

        span {
            letter-spacing: 1px;
            text-transform: uppercase;
        }

        a {
            color: $color-black;
            text-decoration: none;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
    }



    &__image {

        &--avatar {
            width: 98px;
            height: 100px;
            background-image: url('../../public/uploads/sprite.png');
            background-position: -100px -181px;
            background-repeat: no-repeat;
            display: block;
            margin: auto;
            margin-bottom: 25px;
        }
    }
    &__body {
        margin-bottom: 25px;
    }
    &__item {
        &.products-view {

            .products-view__display {
                display: grid;
                display: -ms-grid;
                grid-template-columns: repeat(3,auto);
                grid-gap: 10px;

                @media only screen and (max-width:1200px) {
                    grid-template-columns: repeat(2,auto);
                }

                @media only screen and (max-width:480px) {
                    grid-template-columns: repeat(1,auto);
                }

                li {
                    margin-bottom: 20px;
                }
            }

            .products-view__display_all {
                display: grid;
                display: -ms-grid;
                grid-template-columns: repeat(4,auto);
                grid-gap: 10px;

                @media only screen and (max-width:1200px) {
                    grid-template-columns: repeat(3,auto);
                }

                @media only screen and (max-width:900px) {
                    grid-template-columns: repeat(2,auto);
                }

                @media only screen and (max-width:480px) {
                    grid-template-columns: repeat(1,auto);
                }

                li {
                    margin-bottom: 20px;
                }
            }

        }


    }
    &__footer {
        .btn {
            &:hover {
                background: $color-secondary;
                color: $color-white;
                border: 1px solid transparent;
            }
        }
    }
}

.product-thumbnail {

    &__image {
        min-height: 185px;
        position: relative;
        background-size: cover;
        @include transition(.3s);
        background-position: center;


        &:hover {
            opacity: .5;
        }

        h4 {
            position: absolute;
            display: block;
            width: 100%;
            left: 0;
            bottom: 0;
            text-align: center;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 14px;
            padding: 10px 11px;
            font-family: $font-third;
            color: $color-white;
        }

        &:before {
            position: absolute;
            content: '';
            width: 100%;
            top: 0;
            left: 0;
            height: 100%;
            @include t-black(.2);
        }
    }
    &__date {
        color: $color-gray;
        padding: 10px 0;
    }
    &__buttons {
        ul {
            li {
                display: inline-block;
                // width: 50%;
                // float: left;
                text-align: center;

                a {
                    text-decoration: none;
                    color: #000;
                    font-weight: 600;
                    font-family: $font-third;
                    font-size: em(16px);
                    @include transition(.3s);

                    &:hover {
                        opacity: .5;
                    }

                }

                &:first-child {
                    &:after {
                        content: '|';
                        color: $color-gray;
                        margin-left: 8px;
                        margin-right: 5px;
                    }
                }
                &:last-child {
                    a {
                        color: $color-gray;
                        font-weight: 300;
                    }
                }
            }

            &:after {
                display: block;
                clear: both;
                content: '';
            }
        }
    }
}

.dashboard-navigation {
    background: $color-black;
    &__parent {
        margin: 0;
    }
    &__item {
        display: inline-block;
        margin-right: 30px;
        a {
            display: block;
            color: $color-white;
            text-transform: uppercase;
            padding: 2em 15px;
            text-decoration: none;
            position: relative;
            text-align: center !important;
            @include transition(.3s);
            &:hover {
                color: $color-secondary;
            }

            @media only screen and (max-width:480px) {
                // padding: 15px 2px;
                // display: block !important;
                // font-size: .9em;
                padding: 5px 0px;
                display: block !important;
                font-size: 11px;
            }

        }

        @media only screen and (max-width:480px) {
            display: inline-block;
            margin-right: 10px;
        }

        &.active {
            a {
                &:before {
                    position: absolute;
                    width: 100%;
                    height: 5px;
                    background: $color-secondary;
                    content: '';
                    bottom: 0;
                    left: 0;
                }
            }
        }
    }
}
