.feature-projects {
    overflow: hidden;

    .sliding-project {

        @media only screen and (max-width:480px) {
            width: 80%;
            height: 250px;
            margin: auto;

            div {
                height: 100% !important;
            }
        }


        @media only screen and (max-width:800px) {
            width: 80%;
            height: 380px;
            margin: auto;

            div {
                height: 100% !important;
            }
        }

        .slick-prev,
        .slick-next {
            // display: none !important;
        }

        .slick-prev.slick-arrow,
        .slick-next.slick-arrow {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            height: 52px;
            width: 52px;
            background-image: url('../../public/uploads/sprite.png');
            background-position: -0 0;
            border: 0;
            background-color: rgba(256,256,256,.9);
            text-indent: -999px;
            overflow: hidden;
            @include transform_translate(0,-130%);

            @media only screen and (max-width:480px) {
                top: 119px;
            }

            &:before {
                content: '';
                width: 0%;
                position: absolute;
                bottom: 0;
                height: 2px;
                background: $color-secondary;
                @include transition(.3s);
            }
        }

        .slick-prev.slick-arrow {
            left: 20px;
            z-index: 2;
            background-position: -269px -128px;

            @media only screen and (max-width:480px) {
                left: 0;
            }

            &:before {
                left: 0;
            }

            &:hover,
            &:focus {
                &:before {
                    width: 80%;
                }
            }
        }

        .slick-next.slick-arrow {
            right: 20px;
            z-index: 2;
            background-position: -325px -128px;

            @media only screen and (max-width:480px) {
                right: 0px;
            }

            &:before {
                right: 0;
            }

            &:hover,
            &:focus {
                &:before {
                    width: 80%;
                }
            }

        }




        .slick-slide {
            position: relative;

            .text-content {
                display: none;
            }

            @keyframes movingup {
                0% { top: -10px; }
                50% { top: 0px;  background: $color-secondary; }
                100% { top: -10px; }
            }
            @-webkit-keyframes movingup {
                0% { top: -10px; }
                50% { top: 0px;  background: $color-secondary; }
                100% { top: -10px; }
            }
            @-moz-keyframes movingup {
                0% { top: -10px; }
                50% { top: 0px;  background: $color-secondary; }
                100% { top: -10px; }
            }

            @keyframes movingdown {
                0% { bottom: -10px; }
                50% { bottom: 0px; background: $color-secondary; }
                100% { bottom: -10px; }
            }
            @-webkit-keyframes movingdown {
                0% { bottom: -10px; }
                50% { bottom: 0px; background: $color-secondary; }
                100% { bottom: -10px; }
            }
            @-moz-keyframes movingdown {
                0% { bottom: -10px; }
                50% { bottom: 0px; background: $color-secondary; }
                100% { bottom: -10px; }
            }

            &.slick-center {
                width: 900px;

                .text-content {
                    display: block;
                }

                .feature-image {
                    padding-left: 25px;
                    padding-right: 25px;
                    &:before {
                        content: '';
                            width: 65%;
                            height: 10px;
                            left: 0;
                            right: 0;
                            margin: auto;
                            background: #000;
                            position: absolute;
                            top: -10px;
                    }
                    &:after {
                        content: '';
                            width: 65%;
                            height: 10px;
                            left: 0;
                            right: 0;
                            margin: auto;
                            background: #000;
                            position: absolute;
                            bottom: -10px;
                    }

                    img {
                        @include transition(1s);
                    }

                    &:hover {
                        &:before {
                            animation: movingup 2s infinite;
                            -webkit-animation: movingup 2s infinite;
                            -moz-animation: movingup 2s infinite;
                        }

                        &:after {
                            animation: movingdown 2s infinite;
                            -webkit-animation: movingdown 2s infinite;
                            -moz-animation: movingdown 2s infinite;
                        }
                        img {
                            @include transform_scale(.9,.9);
                        }
                    }

                }
            }

        }

        .sliding-project__item {
            padding: 10px 0;

            img {
                width: 100%;
                margin: auto;
                height: 600px;

                @media only screen and (max-width:480px) {
                    height: 100%;
                    width: auto;
                }

                @media only screen and (max-width:800px) {
                    height: 100%;
                    width: auto;
                }

            }

            .feature-image {
                position: relative;
                margin-bottom: 50px;


            }
        }
    }

}


