footer {
    margin-top: 50px;
    overflow: hidden;
    position: relative;

    &:after {
        position: absolute;
        width: 64%;
        background: #000;
        right: 0;
        position: absolute;
        height: 10px;
        bottom: 0;
        content: '';
    }

    .container {
        max-width: $max-content;
    }

    .footer-logo {
        width: 265px;
        height: 175px;
        background-image: url('../../public/uploads/sprite.png');
        background-position: -414px 0;
        margin-top: 50%;
        @include transform_translate(0, -50%);
        text-indent: -999px;
        overflow: hidden;
         a {
            display: block;
            height: 100%;
         }

         @media only screen and (max-width:1024px) and (min-width:481px) {
            width: 176px;
            height: 105px;
            background-position: -410px -338px;
         }

         @media only screen and (max-width:480px) {
            width: 360px;
            background-position: -226px -271px;
            height: 67px;
            margin-top: 40px;
         }

         @media only screen and (max-width:768px) and (min-width:481px) {
            position: absolute;
            right: 10px;
            z-index: 5;
            top: 70px !important;
            margin-top: 0 !important;
            background-color: #fff;
         }


    }

    aside {
        h4 {
            text-transform: uppercase;
            font-size: em(16px);
            font-weight: 700;
            font-family: $font-primary;
            margin-bottom: 20px;
        }

        ul {
            padding: 0;
            margin: 0;

            &.footer-nav {
                > li {
                    margin-bottom: 10px;
                    a {
                        color: $color-gray;
                        text-transform: uppercase;
                        font-size: em(14px);
                        @include transition(1s);
                        text-decoration: none;
                        font-weight: 600 !important;
                        font-family:$font-primary;

                        &:hover {
                            color:$color-secondary;
                        }
                    }
                }
            }
        }
    }

    ul {
        &.social-list {
            li {
                display: inline-block;

                a {
                        display: block;
                        width: 40px;
                        height: 40px;
                        background-image: url('../../public/uploads/sprite.png');
                        background-repeat:no-repeat;
                        text-indent: -9999px;
                        overflow: hidden;

                        &.fb {
                            background-position: -80px -134px;
                        }

                        &.twitter {
                            background-position: -119px -133px;
                        }

                        &.pinterest {
                            background-position:-163px -133px;
                        }

                        &.insta {
                            background-position:-204px -133px;
                        }

                        &:hover {
                            opacity: .3 !important;
                        }
                }
            }
        }

        &.contact-list {
            li {
                a {
                    text-decoration: none;
                }
                &:first-child,
                &:nth-child(2) {
                    a {
                        color:$color-secondary !important;
                    }
                }
            }
            strong {
                color: $color-gray;
            }
        }
    }

    .copyright {
        margin-top: 20px;

        span {
            display: inline-block;
            p {
                font-size: 13px;
                color: $color-gray;
            }
            a {
                color: $color-dark;
                font-size: 13px;
                font-weight: 600;
                text-decoration: none;
            }
        }
    }

    .site-footer {
        background: #fff;

            &__item {
                &--left {

                }

                &--right {
                    padding: 60px 85px;
                    background: $color-light-gray;
                    position: relative;
                    padding-bottom: 20px;

                    @media only screen and (max-width:480px) {
                        padding: 20px !important;
                    }

                   &:after {
                        background: $color-light-gray;
                        content: '';
                        position: absolute;
                        width: 50%;
                        right: -50%;
                        height: 100%;
                        top: 0;
                   }
                }
            }
    }


}