.form,
.global-form-style,
.contact-form,
#subscription-modal,
#mail-modal {
    width: 80%;
    &--fullwidth {
        width: 100%;
        @media only screen and (min-width: 1024px) {
            padding: 5% 30%;
        }
    }
    p {
        text-transform: uppercase;
    }
    @media only screen and (max-width:1024px) {
        width: 100%;
    }
    ul {
        &.form-box {
            li {
                display: block;
                position: relative;
                margin-bottom: 20px;
                .container {
                    padding: 0;
                    div {
                        padding: 0;
                    }
                }
                input,
                textarea {
                    display: block;
                    width: 100%;
                    padding: 8px;
                    background: transparent;
                    border: 1px solid #000;
                }
                input,
                textarea {
                    padding-left: 105px;
                    @include transition(.3s);
                }
                textarea {
                    min-height: 100px;
                    max-height: 250px;
                }
                label {
                    position: absolute;
                    left: 25px;
                    height: 18px;
                    top: 10px;
                    margin: auto;
                    text-transform: uppercase;
                    color: $color-gray;
                    font-weight: 600;
                    font-size: 12px;
                    @include transition(.3s);
                }
                textarea {
                    height: 150px;
                }
                span {
                    // position: absolute;
                    // border: 1px solid #000;
                    // color: #fff !important;
                    padding: 2px 5px;
                    display: block;
                    // width: 50%;
                    font-size: 12px;
                    color: $color-white;
                    // border-radius: 100px;
                    // left: 0;
                    // right: 0;
                    // margin: auto;
                    // bottom: -17px;
                    background: $color-secondary;
                }
                button {
                    &:hover {
                        background: $color-secondary !important;
                        border: 1px solid transparent;
                        color: $color-white;
                    }
                }
                &.padding-left-more {
                    input {
                        padding-left: 200px !important;
                    }
                }
                &:after {
                    display: block;
                    clear: both;
                    content: '';
                }
                @keyframes motion-background {
                    0% {
                        background: transparent;
                    }
                    50% {
                        background: #fff;
                    }
                    100% {
                        background: transparent;
                    }
                }
                @-webkit-keyframes motion-background {
                    0% {
                        background: transparent;
                    }
                    50% {
                        background: #fff;
                    }
                    100% {
                        background: transparent;
                    }
                }
                @-moz-keyframes motion-background {
                    0% {
                        background: transparent;
                    }
                    50% {
                        background: #fff;
                    }
                    100% {
                        background: transparent;
                    }
                }
                // contact on focus of field
                &.active {
                    label {
                        position: absolute;
                        top: -7px !important;
                        left: 0 !important;
                        background: $color-secondary;
                        padding: 0 10px;
                        font-size: 11px !important;
                        color: #fff !important;
                    }
                    input,
                    textarea {
                        padding: 15px 10px !important;
                        animation: motion-background 1s infinite;
                        -webkit-animation: motion-background 1s infinite;
                        -moz-animation: motion-background 1s infinite;
                        color: $color-secondary;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

#mail-modal {
    ul {
        &.form-box {
            li {
                input,
                textarea {
                    padding-left: 170px;
                    @include transition(.3s);
                }
            }
        }
    }
}

.contact-us {
    .contact-form {
        >p {
            text-align: left;
            font-family: $font-third;
        }
        .form-box {
            li {
                label {
                    left: 50px;
                }
                input,
                textarea {
                    padding-left: 125px;
                }
            }
        }
    }
    .contact-list {
        list-style: none !important;
    }
}

.contact-form {
    >p {
        text-align: left;
        font-family: $font-third;
    }
    #edit-property-detail {
        .form-box {
            li {
                label {
                    left: 25px;
                }
                input {
                    padding-left: 175px;
                }
                textarea {
                    padding-left: 180px;
                }
            }
        }
    }
}

.profile-form {
    ul.form-box {
        li {
            label {
                position: relative;
                left: 0;
                display: inline-block;
                margin-left: 10px;
                background: $color-light-gray;
                border: 0 !important;
                padding: 0 15px;
                border-left: 1px solid #000 !important;
                border-right: 1px solid #000 !important;
            }
            input {
                padding-left: 0 !important;
                text-align: center;
                padding-right: 0 !important;
            }
            // contact on focus of field
            &.active {
                label {
                    position: absolute;
                    top: -7px !important;
                    left: 0 !important;
                    right: 0;
                    width: 60%;
                    margin: auto;
                }
                input,
                textarea {
                    padding: 15px 10px !important;
                }
            }
        }
    }
}

.message-text {
    a {
        text-decoration: none;
        small {
            color: $color-primary;
            text-transform: uppercase;
            font-weight: bold;
            @include transition(1s);
        }
        &:hover {
            small {
                color: $color-secondary;
            }
        }
    }
}