header {



	a.navbar-brand.logo {
		img {
			max-width:300px;
		}

		// display: block;
		// height: 55px;
		// width: 365px;
		// background-image: url('../../public/uploads/sprite.png');
        // background-position: -6px -0;
	}

	.navbar {
		margin-bottom: 0;
		padding: 0;
	}

	&.main-navigation {
		position: absolute;
		width: 100%;
		left: 0;
		z-index: 4;
		top: 0;
		background: #fff;
		padding: 11px 0;
		height: 95px;

		> div {
			width: 100%;
			margin: 0;
		}

		@media only screen and (max-width:480px) {
			position: relative;
			z-index: 9;
		}

		@media only screen and (max-width:1470px) {
			padding: 4px 0;
		}

		.collapse.navbar-collapse {
			display: block !important;
			margin-top: 20px;
		}

		&.header-scroll {
			position: fixed;
			top: 0;
			width: 100%;
			z-index: 10;
			@include t-white(.9);
			border-bottom: 1px solid #ececec;
		}


		&:after {
			display: block;
			content: '';
			clear: both;
		}
	}

	.main-navigation {

		&__item {
			margin-bottom: 15px;

			&--left {

				.navbar-nav {
					li {

						> a {
							text-transform: uppercase;
							padding: 5px 20px !important;
							display: block !important;
							color: $color-primary;
							font-weight: 600;
							font-family: $font-primary;
							position: relative;
							@include transition(0.3s);

							@media only screen and (min-width:1465px) {
								padding: 5px 30px !important;
							}

							@media only screen and (max-width:1320px) {
								padding:5px 15px !important;

							}

							&:before,
							&:after {
								position: absolute;
								bottom: 0;
								left: 0;
								right: 0;
								margin: auto;
								content: '';
								display: block;
								@include transition(.5s);
							}

							&:before {
								width: 0;
								// height: 2px;
								background: $color-secondary;
								height: 5px;
								bottom: -32px;
							}

							&:after {
								display: none;
							}


							// &:after {
							// 	width: 0;
							// 	height: 0;
							// 	border-bottom: 0px solid $color-secondary;
							// 	border-left: 5px solid transparent;
							// 	border-right: 5px solid transparent;

							// }

							&:hover {
								font-weight: bold;
								color: #000;

								&:before {
									width: 100%;
								}
								&:after {
									border-bottom: 7px solid $color-secondary;
								}
							}
						}

						&.active {
							> a {
								font-weight: 800 !important;
								color: #000;
							}
						}

						&:nth-child(2) {
							a {
								i {
									position: relative;
									top: -2px;
									right: -8px;
								}
							}
						}
					}
				}
			}


			&--right {

				.grid-custom__wrapper {
					margin-top: 20px;
				}

				ul.navigation-login {
					margin-top: 5px;
					position: relative;
					z-index: 99;

					li {
						text-align: left;

						i {
							&:before {
								color: #a4a4a4;
							}
						}

						a {
							padding: 6px 0;
							//display: block;
							color: #a4a4a4;
							text-transform: uppercase;
							font-size: 12px;
							text-decoration: none;
							@include transition(.3s);

							span {
								margin-right: 5px;
								margin-left: 5px;

							}



							&:hover {
								color: $color-secondary;
								i {
									&:before {
										color: $color-secondary;
									}
								}
							}
						}

						.dropdown-menu.show {
							width: 145px;

							a {
								padding: 5px 11px !important;
								display: block;
								color: $color-black;
								font-weight: bold;
								&:hover {
									background: $color-secondary;
									color: $color-white;
								}
							}
						}


						&:last-child {
							text-align: left;
							a {
								text-align: center;
							}
						}
					}
				}

			}
		}
	}


	&:after {
		display: block;
		content: '';
		clear: both;
	}
}



.main-navigation {


	@media only screen and (max-width:1280px) {
		margin: 0;
		padding: 0 !important;
	}



	&__mobile {
		display: none;

		&--logo {
			width: 271px;
			height: 47px;
			background-image: url('../../public/uploads/sprite.png');
			// background-position:-242px -207px;
			background-repeat: no-repeat;
			display: block;

			background-position: -248px -270px;
			height: 55px;
			margin: 5px 0;

			img {
				display: none;
			}

			@media only screen and (max-width:320px) {
				width: 65px;
			}
		}

		&--navbar {
			// background: $color-secondary;
			background: $color-white;

			margin: 10px 0;
			position: relative;
			padding: 5px 0;
			padding: 0;
			margin-bottom: 0;
			border-top: 2px solid $color-light-gray;


			@media only screen and (max-width:480px) {
				margin-bottom: 0;
			}
		}

		&--menu {
			display: none;
			width: 90%;
			position: absolute;
			// top: 60px;
			background: $color-light-gray;
			margin: 0;
			right: 0;
			// padding: 0 20px;
			@include transition(1s);
			// top: 55px;
			padding-top: 25px !important;

			top: 65px;
			padding: 5px 0px !important;
			max-height: 370px;
			overflow-y: scroll;
			max-width: 400px;
			// z-index: -1;

			// @media only screen and (max-width:1024px) and (min-width:768px) {
			// 	max-height: inherit;
			// 	overflow-y: inherit;
			// }

			li {
				display: block;
				width: 100%;
				position: relative;

				a {
					padding: 7px;
					text-transform: uppercase;
					color: #000000;
					font-weight: bold;
					border-bottom: 1px solid #e9e8e8;
					padding: 10px 20px !important;
					position: relative;

					&.btn--float {
						display: block;
						position: absolute !important;
						top: 0;
						right: 0;
						height: 47px;
						border: 0;
					}
				}

				&:last-child {
					a {
						border-bottom: 0;
					}
				}

				a.search-now {
					display: block;
					i {
						margin-right: 8px;
					}
				}

				&.sub-arrow {
					a {
						position: relative;

						> i {
							position: absolute;
							right: 15px;
							top: 0;
							bottom: 0;
							margin: auto;
							height: 16px;
							font-size: 1em;
							display: none;

							&.open--btn {
								display: block;
							}
							&.close--btn {
								display: none;
							}
						}
					}

					&.display--submenu {
						> a {
							color:$color-secondary;
							> i {

								&.open--btn {
									display: none !important;
								}
								&.close--btn {
									display: block !important;
								}
							}

						}

						.nav-item__submenu {
							display: block;
						}

					}

				}

				.nav-item__submenu {
					display: none;
					padding: 11px 0;

					ul {
						border-bottom: 1px solid #ddd;
    					padding-bottom: 10px;
					}

					li {
						a {
							font-weight: normal;
							text-decoration: none;

							display: inline-block;
							width: 100%;
							border: 0;
							// padding: 0px 20px !important;


							// &:before {
							// 	content: '---';
							// 	margin-right: 10px;
							// }
						}
						&.submenu__parent {
							a {
								padding: 0 20px !important;

							}
						}

						&.submenu__child {
							a {
								padding: 4px 40px !important;
							}
						}


						&:first-child {
							a {
								&:before {
									display: none;
								}
							}
						}

					}
				}

				// &:hover {
				// 	.nav-item__submenu  {
				// 		display: block;
				// 	}
				// }

			}


			&.show-me {
				display: block;
			}
		}

		&--LoginRegister  {
			ul,li {
				margin: 0;
				padding: 0;
			}

			ul {
				height: 21px;
				position: absolute;
				top: 10px;
				right: 15px;

				li {
					a {
						font-size: 12px;
						color: $color-dark;
						text-decoration: none;
						span {
							margin-left: 5px;
						}
					}
				}
			}
		}

		&--schedule {

			.btn-schedule {
				font-size: 10px;
				position: relative;
				top: 5px;
			}

		}

		&--button {
			position: absolute;
			right: 0;
			bottom: 0;
			top: 0;
			margin: auto;
			color: $color-white;
		}


		@media only screen and (max-width:1280px) {
			display: block;
		}
	}


	&__desktop {
		@media only screen and (max-width:1280px) {
			display: none;
		}

		@media only screen and (max-width:1470px) {
			> div {
				margin-bottom: 0;
			}
		}
	}


}




.search-form {

	.form-group {
		.col-md-12 {
			position: absolute;
			top: 58px;
			right: 0;
			padding: 0;
			width: 300px !important;
			input {
				padding: 10px 20px;
				background: transparent;
				border: 0;
				border-bottom: 2px solid #fff;
				max-width: 200px !important;
				color: #f00;
			}
		}
	}

}



.search-box {
		position: fixed;
		background: rgba(0,0,0,.7);
		width: 100%;
		height: 100%;
		z-index: 99;
		top: 0;
		left: 0;
		text-align: center;
		// display: none;
		@include transition(3s);
		opacity: 0;
		visibility: hidden;
		display: none;


		&__button {
			position: absolute;
			width: 100%;
			height: 100%;
			cursor: pointer;
		}


		&__wrapper {
			max-width: 80% !important;
			height: 80px;
			top: 0;
			bottom: 0;
			margin: auto !important;
			position: absolute;
			left: 0;
			right: 0;
			@include transition(5s);

			@media only screen and (max-width:800px) {
				max-width: 90% !important;
			}

			form.search-form {
				position: relative;

				 ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				color: $color-white;
				}
				::-moz-placeholder { /* Firefox 19+ */
				color: $color-white;
				}
				:-ms-input-placeholder { /* IE 10+ */
				color: $color-white;
				}
				:-moz-placeholder { /* Firefox 18- */
				color: $color-white;
				}


				input {
					padding: 10px;
					// width: 100%;
					background: transparent;
					border: 4px solid $color-secondary;
					color:$color-white;
					outline: none;
					font-size: 1.5em;
				}

				a.nav-link {
					position: absolute;
					right: 6px;
					color: $color-white;
					font-size: 1.8em;
					top: 5px;
					// opacity: 0;
					@include transition(.3s);
					cursor: pointer;
					z-index: 9;
					background: $color-red;

					&:hover {
						@include transform_scale(1.2,1.2);
						color: $color-secondary;
					}
				}
			}
		}

	@keyframes searchvisible {
		0% {
			opacity: 0;
			width: 0;
		}
		100% {
			opacity: 5;
			width: 100%;
		}
	}
	@-webkit-keyframes searchvisible {
		0% {
			opacity: 0;
			width: 0;
		}
		100% {
			opacity: 5;
			width: 100%;
		}
	}

	@-moz-keyframes searchvisible {
		0% {
			opacity: 0;
			width: 0;
		}
		100% {
			opacity: 5;
			width: 100%;
		}
	}

	@keyframes fadein {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	@-webkit-keyframes fadein {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	@-moz-keyframes fadein {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}


	@keyframes entrance {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	@-moz-keyframes entrance {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}


	&.search-visible {
		display: block;
		animation: entrance .3s forwards;
		-webkit-animation: entrance .3s forwards;

		display: block;
		visibility: visible;

		.search-box__wrapper.container {

			input {
				animation: searchvisible 1s forwards;
			-webkit-animation: searchvisible 1s forwards; /* for less modern browsers */
			}

			a {
				animation: fadein 13s forwards;
				-webkit-animation: fadein 13s forwards; /* for less modern browsers */
			}
		}
	}
}
