.heading-primary {
	margin-bottom: 50px;

	h2 {
		// font-weight: $bold;
		// font-size: em(40px);
	    font-size: 4em;
		font-weight: 300;
		font-family: ope;
		font-family: 'Open Sans', sans-serif;
		font-family: $font-primary;
		color:$color-black;
		text-transform: uppercase;

		@media only screen and (max-width:480px) {
			font-size: 2em;
		}

		@media only screen and (max-width:800px) and (min-width:481px) {
			font-size: 3em;
		}

	}

	p {
		color: $color-black;
		text-transform: uppercase;
		font-family: myriad pro, sans-serif;
		letter-spacing: 2px !important;
		font-size: .9em;
	}
}



.article-main__wrapper {

	.strong-uppercase,
	.text-uppercase {
		strong,p {
			text-transform: uppercase;
		}
	}

	h2 {
		font-family: 'Open Sans', sans-serif;
		font-weight: $light;
		text-transform: uppercase;
		font-size: 4em;
		line-height: 60px;
		font-weight: 400;

		@media only screen and (max-width:1024px) and (min-width:481px) {
			// font-size: 3em;
			font-size: 2.5em;
			line-height: 40px;
		}

		@media only screen and (max-width:480px) {
			font-size: 20px;
			line-height: 24px;
			font-weight: bold;
		}
	}

	strong {
		font-weight: $light;
		line-height: 24px;
		font-size: 1.6em;
		color: #525252;
		font-family: 'Open Sans', sans-serif;

		@media only screen and (max-width:480px) {
			font-size: 13px;
		}

	}

	p {
		// font-weight: $light;
		line-height: 22px;
		// font-size: 1em;
		font-family: 'Open Sans', sans-serif;
		font-weight: 500;
		font-size: 1.2em;

		@media only screen and (max-width:480px) {
			font-size: .9em;
			line-height: inherit;
		}

	}
}


.single-heading {
	h4 {
		font-size: 21px;
	}
	h3 {
		text-transform: uppercase;
	}
	strong {
		color: $color-secondary;
	}
}



