
.instagram-feed {
        // background: #ddd;
        height: auto;
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat !important;

        &__wrapper {
            height: 100%;

            &--item {
                height: 300px;
                background-size: cover !important;
                background-position: center !important;

                @media only screen and (max-width:480px) {
                    height: auto;
                }
            }
        }

        .gallery-box {
            height: 100%;
            outline: 1px solid;
        }


        .slick-prev,
        .slick-next {
            display: none !important;
        }
        .slick-slide {
            margin: 6px;
        }
}

