
.msrItems {
    background: #f7f7f7;
    margin:0px auto;
    max-width:100%;

    &__item {
        overflow: hidden;
        background-position: center !important;
        background-size: cover !important;
    }

    .msrItem {
        background-size:cover;
        // border-radius:5px
    }

    .itm1 {
        background: #E23737;
        height: 300px;
    }

    .itm2 {
        background: #03A9F4;
        height: 400px;
    }

    .itm3 {
        background: #009652;
        height: 160px;
    }

    .itm4 {
        background: #9C27B0;
        height: 233px;
    }

    .itm5 {
        background: #86D85E;
        height: 240px;
    }

    .itm6 {
        background: #F44336;
        height: 225px;
    }

    .itm7 {
        background: #FF9800;
        height: 230px;
    }

    .itm8 {
        background: #E8DA59;
        height: 130px;
    }

    .itm9 {
        background: #00BCD4;
        height: 200px;
    }

    .itm10 {
        background: #3F51B5;
        height: 150px;
    }

}




.grid-gallery {
	// column-width: 320px;
    // column-gap: 15px;
    column-width: 260px;
    column-gap: 0;
    width: 100%;
	max-width: 100%;
    margin: 30px auto;


    &__overlay {
        position: absolute;
        z-index: -2;
        top: 10px;
        right: 10px;
        @include transform_translate(0%,-150%);
        @include transition(1s);

        @include t-black(.7);
    }

    &__item {
        background: #fefefe;
        // border: 2px solid #fcfcfc;
        border: 0;
        //box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
        // margin: 0 2px 15px;
        margin:0;
        // padding: 15px;
        padding-bottom: 0;
        padding: 0 2px 4px 2px;
        transition: opacity .4s ease-in-out;
        // display: inline-block;
        // column-break-inside: avoid;
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
        position: relative;
        overflow: hidden;
        display: block;


        img {
            width: 100%;
            height: auto;
            border-bottom: 10;
            padding-bottom: 0;
            margin-bottom: 0;
        }
        &:hover {
            .grid-gallery__overlay {
                z-index: 2;
                @include transform_translate(0%,0%);
            }
        }
    }

}



.slideshow {
    height: 600px;
    position: relative;

    @media only screen and (max-width:480px) {
        height: auto;
    }

    &__play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 101;
        font-size: 100px;
        color: white !important;

        @media only screen and (max-width:480px) {
            font-size:2em;
        }
    }
}