

.sub-megamenu {
    position: absolute;
    max-width: 100%;
    right: 0;
    top: 60px;
    left: 0;
    margin: auto;

    overflow: hidden;
    @include transition(1s);
    opacity: 0;
    max-height: 0;
    padding-top: 32px;


    @media only screen and (max-width:1280px) {
        display: none;
    }

    &__background {
        background: $color-light-gray;
        -webkit-box-shadow: 0 10px 15px 1px rgba(0,0,0,.2);
        box-shadow: 0 10px 15px 1px rgba(0,0,0,.2);
        padding: 20px 0;
    }

    &.sub-megamenu-visible {
        opacity: 1;
        max-height: inherit;
    }

    .row {
        max-width: 1400px;
        margin: auto;

        .col-md-9 {
            padding-right: 0;
        }
       .col-md-3 {
         padding-right: 0;
         padding-left:0;
       }
    }

    &__wrapper {
        .primary-btn {
            padding-left:60px !important;
            padding-right: 60px !important;
        }
    }


    &__menus {
        padding: 0;
        margin: 0;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 10px;


        ul {
            margin-bottom: 35px !important;
            li {
                line-height: 28px;
            }
        }

        a {
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1em;
            color: $color-dark;
            @include transition(0.3s);

            &:hover {
                color: $color-secondary;
            }
        }

        strong {
            margin-bottom: 0;
            font-size: 1em;
            font-weight: 700;
            color:$color-black;
            @include transition(0.3s);

            &:hover {
                color: $color-secondary;
            }
        }

    }

    &__thumbnail {
        width: 40px;
        background-size: cover !important;
        background-position: center !important;
        display: block;
        float: left;
        height: 60px;
    }

    &__item {
        a {
            display: block;
            @include transition(1s);
            text-decoration: none;

            &:after {
                display: block;
                clear: both;
                content:'';
            }

            &:hover {
                opacity: .2 !important;
            }
        }
        span {
            display: block;
            // float: left;
            width: 100%;
            float: none;

            &:first-child {
                // width: 30%;
                height: 113px;
            }

            &:last-child {
                // width: 70%;
            }
        }
    }


    &__button {
        float: right;
        margin-right: 45px;
    }


    &__title {
        padding: 5px 0;
        font-size: .9em;
        line-height: 15px;
        height: 45px;
        color: $color-primary;
        text-transform: uppercase;
        font-weight: bold;

        p {
            display: none;
        }
    }

    &__left {
        padding: 10px;
    }

    &__right {
        // position: absolute;
        // height: 100%;
        // width: 100%;

        &--ads {
            background-image: url('../../public/uploads/mega-image.jpg');
            background-size: cover;
            margin: 20px 0;
            display: block;
            height: 325px;
            width: 100%;
            position: relative;
            background-position: center;

            &:before {
                position: absolute;
                width: 65%;
                height: 8px;
                left: 0;
                top: -7px;
                content: '';
                background: $color-black;
            }

            h4 {
                position: absolute;
                left: 42px;
                top: 24px;
                width: 73%;
                font-family: $font-secondary;
                font-size: 2.2em;
                line-height: 35px;
                text-transform: uppercase;
                color: $color-primary;
            }

            p {
                font-weight: 600;
                width: 55%;
                position: absolute;
                left: 38px;
                display: block;
                top: 110px;
                font-family: $font-primary;
            }

            a {
                display: inline-block;
                background: $color-primary;
                padding: 10px 35px;
                border-radius: 100px;
                color: #fff;
                text-transform: uppercase;
                position: absolute;
                bottom: 60px;
                left: 40px;
                text-decoration: none;
                @include transition(1s);

                &:hover {
                    background: $color-primary;
                }
            }
        }
    }


}


section.invisible-mega {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;

    &.invisible-show {
        display: block;
    }
}