.mfp-container,
.mfp-iframe-holder {
    .mfp-iframe-scaler  {
        button {
            display: none;
        }
        iframe {
            background: transparent !important;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0);
        }
    }


    button.mfp-arrow.mfp-arrow-left.mfp-prevent-close,
    button.mfp-arrow.mfp-arrow-right.mfp-prevent-close
    {

        width: 54px;
        height: 53px;
        background-image: url('../../public/uploads/sprite.png');
        // background-position: -270px -129px;
        background-repeat: no-repeat;
        background-color: #b7b7b7;

        &:before,&:after  {
            display: none;
        }
    }
    button.mfp-arrow.mfp-arrow-left.mfp-prevent-close {
        left: 2%;
        background-position: -270px -129px;
    }
    button.mfp-arrow.mfp-arrow-right.mfp-prevent-close {
        right: 2%;
        background-position: -324px -129px;
    }
}






#subscription-modal,
#mail-modal {
    @include t-black(.6);
    width: 100%;

    .modal-dialog {
        height: 100%;
    }
    .modal-content {
        border: 8px solid $color-secondary;
        border-radius: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        max-height: 390px;
        margin: auto;

        button.btn.btn--width {
            &:hover {
                background: $color-secondary;
                border: 1px solid transparent;
                color: $color-white;
            }
        }
    }

    .modal-header {
        display: block;

        h4 {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.5em;
            text-align: center;
            display: block;
            display: block !important;
        }
        button.close {
            position: absolute;
            top: -5px;
            right: -5px;
            width: 35px;
            background: $color-secondary;
            font-size: 2em;
            height: 35px;
            padding: 0 !important;
            color: #fff;
            z-index: 9;
            opacity: 1;

            &:hover {
                @include transform_scale(.9,.9);
                opacity: .6;
            }
        }
    }

    #create-subscription {
        width: 100%;
    }

    ul.form-box  {
        // li {
        //     input {
        //         width: 100%;
        //         padding: 5px;
        //         text-align: center;
        //     }
        //     label {
        //         width: 100%;
        //         text-align: center;
        //         float: left;
        //         font-size: 12px;
        //     }
        //     span {
        //         margin: 0;
        //         font-size: 11px;
        //     }
        // }
    }
}

#mail-modal {
    .modal-content {
        max-height: 560px;
    }
    .modal-body {
        overflow-x: hidden;
        overflow-y: auto;
    }
}