.order-details {
    border: 1px solid $color-light-gray;
    padding: 20px;
    //margin: 50px 0;

    @media only screen and (max-width:480px) {
        padding: 5px;
        &__wrapper {
            padding: 0 !important;
        }
    }

    h2 {
        font-size: 50px;
        text-transform: uppercase;

        @media only screen and (max-width:480px) {
            font-size: 2em;
        }
    }

    &__header {
        margin-bottom: 30px;
        position: relative;

        &--number {
            font-size: em(18px);
            span {
                color: $color-gray;

                &:first-child {
                    color: $color-black;
                }
            }
        }

        .cancel-button {
            padding-top: 20px;

            @media only screen and (min-width:768px) {
                a {
                    position: absolute;
                    right: 20px;
                    top: 0;
                    margin: auto;
                    bottom: 0;
                    max-height: 40px;
                }
            }

        }
    }

    &__body {
        h3 {
            color: $color-black;
            display: block;
            background: $color-light-gray;
            padding: 10px 20px;
            text-transform: uppercase;
            font-weight: 600;
            margin-bottom: 15px;
        }

    }

    &__table {
        &--information {
            td {
                border: 0 !important;
                color: $color-gray;

                &:first-child {
                    color: $color-black;
                    text-align: right;
                    font-weight: 600;
                    width: 30%;
                }

                @media only screen and (max-width:480px) {
                    &:first-child {
                        font-size: 1em;
                        padding-bottom: 0;
                    }

                    &:last-child {
                        width: 70% !important;
                        white-space: pre-line;
                        font-size: .9em;
                    }
                }
            }

            @media only screen and (max-width:480px) {
                width: 100% !important;
                display: block;

                tbody {
                    display: block;
                }

                tr {
                    display: block;
                    border-bottom: 1px solid #ddd;
                    td {
                        display: block;
                        text-align: left !important;
                        width: 100% !important;
                    }
                }
            }

        }

        &--billing {
            td {
                border: 0 !important;
                color: $color-gray;

                &:first-child {
                    color: $color-black;
                    text-align: right;
                    font-weight: 600;
                    width: 30%;
                }

                @media only screen and (max-width:480px) {
                    &:first-child {
                        font-size: 1em;
                        padding-bottom: 0;
                    }

                    &:last-child {
                            font-size: .9em;
                    }
                }

            }

            @media only screen and (max-width:480px) {
                width: 100% !important;
                display: block;

                tbody {
                    display: block;
                }

                tr {
                    display: block;
                    border-bottom: 1px solid #ddd;
                    td {
                        display: block;
                        text-align: left !important;
                        width: 100% !important;
                    }
                }
            }


        }

        &--payment {
            tr {
                td {
                    width: 25%;

                    &:first-child {
                        width: 40%;
                    }
                    &:nth-child(2) {
                        width: 30%;
                    }

                    &:nth-child(3),
                    &:nth-child(4) {
                        width: 15%;
                    }
                }
            }
        }

        &--buttons {
            border: 0;

            td {
                border: 0 !important;

                &:last-child {
                    width: 30%;
                    a {
                        width: 100%;
                    }
                }
            }
        }

        &--totals {
            border-top: 2px solid $color-black;

            td {
                &:nth-child(3) {
                    font-weight: 600;
                    text-align: center;
                    font-size: 17px;
                }
            }

            tr {
                &:last-child {
                    td {
                        font-weight: 600;
                        vertical-align: middle;

                        &:nth-child(3) {
                            font-size: 15px;
                        }

                        &:last-child {
                            font-weight: normal;

                        }
                    }
                }
            }
        }
    }

}