section {
    overflow: hidden !important;
}

.feature-main {
    overflow: hidden;
    .container {
        max-width: $max-content;
    }

    @media only screen and (max-width:800px) {
        &__item {
            flex: inherit !important;
            display: block !important;
            width: 100% !important;
            max-width: 100% !important;
        }
    }

}

.main-subpage {
    overflow: hidden;
    padding: 5em 0;
    .container {
        max-width: $max-content;
    }

    @media only screen and (max-width:480px) {
        padding: 2em 0;
    }

}

.feature-main {
    position: relative;
    &__wrapper {
        padding: 50px 0;
    }
}

.dashboard-navigation {
    .container {
        max-width: $max-content;
    }
}

.hightlight {
    &__wrapper {
        display: table;
    }

    &__middle {
        @media only screen and (min-width:1670px) {
            .hightlight__item {
                vertical-align: middle;
            }
        }
    }

    &__item {
        display: table-cell;
        padding: 0;
        // vertical-align: middle;
        vertical-align: top;
        width: 50%;

        @media only screen and (max-width:800px) {
            display: block;
            width: 100%;
        }

        &--image {
            position: relative;
            &:before {
                width: 70%;
                background: $color-black;
                height: 10px;
                content: '';
                position: absolute;
                right: 0;
                top: -9px;
            }
            img {
                width: 100%;
            }

            @media only screen and (max-width:800px) {
                margin-bottom: 30px;
                margin: auto;
                width: 90%;
            }

            &__holder {
                @media only screen and (min-width:1670px) {
                    max-height: 590px;
                    overflow: hidden;
                }
            }
        }
    }
}

// article element
.article-main {
    padding-left: 60px;
    padding-right: 20px;
    position: relative;

    ul {
        list-style: unset !important;
    }

    &.padding-right30 {
        padding-right: 30%;

        @media only screen and (max-width:800px) {
            padding-right: 10%;
        }

    }
    &.padding-right20 {
        padding-right: 20%;
    }
    &.padding-right25 {
        padding-right: 25%;
    }
    &.padding-right10 {
        padding-right: 10%;
    }
    &__label {
        transform: rotate(-90deg);
        position: absolute;
        // left: -162px;
        left: -180px;
        // top: 140px;
        top: 151px;
        color: #f37f24;
        height: 20px;
        text-align: right;
        width: 300px;
        color: $color-secondary;
        text-transform: uppercase;
        font-size: .9em;
        letter-spacing: 1px !important;


        @media only screen and (max-width:480px) {
            left: -162px;
        }

        &:before {
            content: '';
            // width: 40px;
            display: inline-block;
            background: $color-secondary;
            height: 2px;
            position: relative;
            top: -3px;
            width: 64px;
            margin-right: 25px !important;
        }
    }


    @media only screen and (max-width:480px) {
        padding: 30px !important;
        padding-top: 0 !important;
    }

    &__wrapper {
        position: relative;
        strong {
            display: block;
            font-weight: 400px;
            line-height: 24px;
            font-family: $font-third;
        }

        @media only screen and (min-width:480px) {
            strong {
                margin-bottom: 50px;
            }
        }

        h5 {
            padding: 10px 0;
            text-transform: uppercase;
            font-size: .9em;
            font-weight: 600;
            margin-bottom: 35px;
            font-family: $font-secondary;
            letter-spacing: 1px !important;
        }
        &.font-third {
            h2,
            strong,
            p {
                font-family: $font-third;
                font-weight: 300;
                color: #272727;
            }
            p {
                font-size: em(18px);
            }

            p {
                font-size: 1.1em;
            }

            strong {
                line-height: 24px;
            }

            strong {
                margin-bottom: 20px !important;
            }
            .margin-top35 {
                margin-top: 25px;
            }
        }
    }
    ul {
        &.contact-list {
            margin-top: 50px;
            li {
                color: #000;
                font-family: $font-third;
                margin-bottom: 45px;
                strong {
                    text-transform: uppercase;
                    margin-bottom: 10px;
                }
                span {
                    margin-right: 10px;
                    position: relative;
                    &:not(:last-child):after {
                        height: 6px;
                        width: 6px;
                        content: '';
                        display: inline-block;
                        background: #000;
                        margin-left: 10px;
                        position: relative;
                        top: -1px;
                        border-radius: 100%;
                    }
                }
            }
        }
    }
}

// video thumb
.video-main {
    background: #f3f2f2;
    max-width: 570px;
    padding: 1.5em 2.9em;
    text-align: center;
    position: relative;
    //@include transition(0.3s);

    //&:hover {
    //    @include transform_all(1.1,1.1,0,10%);
    //    border: 2px solid $color-secondary;
    //    -webkit-box-shadow: 2px 1px 10px 1px rgba(0,0,0,.2);
    //    box-shadow: 2px 1px 10px 1px rgba(0,0,0,.2);
    //}

    &.pull-top {
        top: -50px;
        right: -16px;
    }
    &:before {
        position: absolute;
        content: '';
        width: 80%;
        height: 10px;
        background: $color-black;
        bottom: -10px;
        left: 0;
    }
    &__item {
        background: #fff;
        padding: 1em;
        text-align: center;
        padding-bottom: 0;
        img,
        iframe {
            width: 100%;
        }
        h4 {
            font-size: .9em;
            text-transform: uppercase;
            font-weight: $semibold;
            margin: 0;
            display: block;
            padding: 15px 0;
            font-family: $font-primary;
            letter-spacing: 1px !important;
        }
    }
    .btn {
        margin: 15px auto 0;
    }
}

.gray-box {
    background: #f3f2f2;
    max-width: 100%;
    padding: 1.5em 1.8em;
    text-align: center;
    position: relative;
    padding-left: 60px !important;

    &:after {
        position: absolute;
        content: '';
        height: 100%;
        background: #f3f2f2;
        top: 0;
        right: -100%;
        display: block;
        width: 100%;
    }
    &:before {
        position: absolute;
        content: '';
        width: 80%;
        height: 10px;
        background: $color-black;
        bottom: -10px;
        left: 0;
    }
}

.text-content {
    max-width: 48%;
    margin: auto;
    @media only screen and (max-width: 1024px) {
        max-width: 100%;
    }
    a {
        text-decoration: none;
        color: $color-primary;
        h3 {
            color: $color-black;
            &:hover,
            &:focus {
                color: $color-secondary;
            }
        }
    }
    h3 {
        text-transform: uppercase;
        font-size: 1em;
        letter-spacing: 1.2px !important;
        font-weight: bold;
    }
    .btn {
        padding: 10px 60px;
    }
    p {
        margin: 15px 0;
        display: block;
        line-height: 20px;
    }
}

.padding-top-bottom80 {
    padding: 80px 0;
    @media only screen and (max-width:480px) {
        padding: 0;
    }
}

.padding-top-bottom50 {
    padding: 50px 0;
}

.lightgray-background {
    background: $color-light-gray;
}

.slider-content {
    p {
        font-size: 1em;
        color: $color-white
    }
    h1 {
        // border-bottom: 2px solid;
        display: inline-block;
        padding-bottom: 10px;
        text-transform: uppercase;
        color: #fff;
        position: relative;
        font-family: $font-third;
        font-weight: 300;
        &:before,
        &:after {
            content: '';
            width: 100%;
            background: $color-white;
            position: absolute;
            bottom: 0;
            display: block;
            height: 4px;
        }
        &:before {
            left: -100%;
        }
        &:after {
            left: 0;
        }
    }
}

.grid-layout {
    height: 100%;
    &--col5 {
        display: grid;
        display: -ms-grid;
        grid-gap: 10px;
        grid-template-columns: repeat(5, 1fr);
        height: 100%;
    }
    &--col4 {
        display: grid;
        display: -ms-grid;
        grid-gap: 10px;
        grid-template-columns: repeat(4, 1fr);
    }
    &--col3 {
        display: grid;
        display: -ms-grid;
        grid-gap: 10px;
        grid-template-columns: repeat(3, 1fr);
    }
}

.project-grid {
    margin-top: 50px;
    .project-display {
        position: relative;
        margin-bottom: 25px;
        &__image {
            height: 330px;
            background-size: cover;

            @media only screen and (max-width:480px) {
                height: 150px;
            }
        }
        &__overlay {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background: transparent;
            overflow: hidden;
            @include transition(2s);



            &--content {
                position: absolute;
                bottom: 30px;
                width: 100%;
                text-align: center;
                @include transform_translate(0, 150%);
                @include transition(1s);



                h2 {
                    text-transform: uppercase;
                    color: $color-white;
                    font-family: $font-secondary;
                    font-weight: 300;
                    position: relative;
                    padding-bottom: 13px;
                    display: block;
                    margin-bottom: 15px;
                    letter-spacing: 1px !important;
                    @include transition(1s);
                    padding: 10px 20px;

                    &:after {
                        display: block;
                        content: '';
                        width: 70px;
                        height: 2px;
                        background: $color-secondary;
                        left: 0;
                        right: 0;
                        margin: auto;
                        bottom: 0;
                        position: absolute;
                    }
                }
                p {
                    text-transform: uppercase;
                    font-size: 14px;
                    color:$color-white;
                }

                a {
                    text-decoration: none;

                    &:hover {

                        h2 {
                            color: $color-secondary;
                        }
                    }
                }

            }

            &:hover {
                @include t-black(.8);

                .project-display__overlay--content {
                    @include transform_translate(0, 0%);
                }

            }
        }

        &__video {
            width: 60px;
            height: 60px;
            position: absolute;
            background-image: url('../../public/uploads/sprite.png');
            background-repeat: no-repeat;
            background-position: -19px -191px;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            opacity: .6;

            &:hover {
                opacity: 1;
            }
        }
    }
}


.arrow-button {
    background: $color-light-gray;
    padding: 30px 0;
    margin-top: 50px;

    // moving left
    @keyframes moving-left {
        0% { left: -60px; }
        50% { left: -20px; }
        100% { left: -60px; }
    }
    @-webkit-keyframes moving-left {
        0% { left: -60px; }
        50% { left: -20px; }
        100% { left: -60px; }
    }
    @-moz-keyframes moving-left {
        0% { left: -60px; }
        50% { left: -20px; }
        100% { left: -60px; }
    }


    // moving right
    @keyframes moving-right {
        0% { right: -60px; }
        50% { right: -20px; }
        100% { right: -60px; }
    }
    @-webkit-keyframes moving-right {
        0% { right: -60px; }
        50% { right: -20px; }
        100% { right: -60px; }
    }
    @-moz-keyframes moving-right {
        0% { right: -60px; }
        50% { right: -20px; }
        100% { right: -60px; }
    }

    // color change
    @keyframes color-change {
        0% { border-bottom: 5px solid $color-black;}
        50% { border-bottom: 5px solid $color-secondary;}
        100% {  border-bottom: 5px solid $color-black;}
    }
    @-webkit-keyframes color-change {
        0% { border-bottom: 5px solid $color-black;}
        50% { border-bottom: 5px solid $color-secondary;}
        100% {  border-bottom: 5px solid $color-black;}
    }
    @-moz-keyframes color-change {
        0% { border-bottom: 5px solid $color-black;}
        50% { border-bottom: 5px solid $color-secondary;}
        100% {  border-bottom: 5px solid $color-black;}
    }


    &__wrapper {
        max-width: 73% !important;
        margin: auto;
    }
    &__item {
        a {
            display: inline-block;
            color: $color-white;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 300;
            letter-spacing: 1px !important;
            color: $color-black;
            border-bottom: 5px solid $color-black;
            padding-bottom: 10px;
            position: relative;
            text-decoration: none;

            @media only screen and (max-width:480px) {
                height: 50px;
            }


            i {
                font-size: 15px;
                position: absolute;
            }
        }

        &--left {
            a {
                i {
                    left: -60px;
                }

                &:hover {
                    animation:color-change 1s  infinite;
                    -webkit-animation:color-change 1s  infinite;
                    -moz-animation:color-change 1s  infinite;

                    i {
                        animation:moving-left 1s  infinite;
                        -webkit-animation:moving-left 1s  infinite;
                        -moz-animation:moving-left 1s  infinite;
                    }
                }
            }
        }

        &--right {
            a {
                i {
                    right: -60px;
                }

                &:hover {
                    animation:color-change 1s  infinite;
                    -webkit-animation:color-change 1s  infinite;
                    -moz-animation:color-change 1s  infinite;

                    i {
                        animation:moving-right 1s  infinite;
                        -webkit-animation:moving-right 1s  infinite;
                        -moz-animation:moving-right 1s  infinite;
                    }
                }
            }
        }
    }
}

.subpage-container {
    position: relative;

    &__wrapper {
        padding: 30px 0px;
    }

}



.projects-gallery {
    @media only screen and (max-width:1000px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        > div {
            width: calc(100%/2) !important;
            > div {
                width: 100%;
            }
        }
    }
}