
body {
    font-family: $font-primary;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


ul {
    list-style: none;
}

p {
    font-family: $font-primary;
    // font-size: em(16px);
    font-size: 16px;
    color: $color-dark;
    line-height: 26px;
}


h1,
h2,
h3,
h4,
h5,
p,
div,
ul li,
a {
//    font-family: $font-secondary;
    letter-spacing: inherit !important;
}


h1,
h2,
h3,
h4,
h5 {
    // font-family: $font-secondary;
}



.grid-custom {
    .grid-col {
        display: grid;
        display: -ms-grid;
        padding: 0 !important;

        &.grid-col2 {
            // grid-template-columns: repeat(2,1fr);
            -ms-grid-columns:1fr 1fr;
            grid-template-columns:1fr 1fr;
            -ms-grid-rows: 1fr;
            grid-template-rows: 1fr;
            grid-gap: 5px;

            > *:nth-child(1) {
                -ms-grid-row:1;
                -ms-grid-column:1;
             }
            > *:nth-child(2) {
                -ms-grid-row:1;
                -ms-grid-column:2;
            }

            .span1 {
                grid-column: span 1;
            }

            .span2 {
                grid-column: span 2;
            }
        }


        &.grid-col3 {
            grid-template-columns: repeat(3,1fr);
            grid-gap: 5px;

            .span1 {
                grid-column: span 1;
            }

            .span2 {
                grid-column: span 2;
            }
            .span3 {
                grid-column: span 3;
            }
        }

        &__item {
            .schedule {
                display: inline-block;
                margin: auto !important;
                width: 200px;
                display: block !important;

                @media only screen and (max-width:1450px) {
                    width: auto !important;
                    font-size: 11px !important;
                }
                a {
                    display: block;
                    width: 100%;
                }
            }
        }
    }

}


.clear-padding {
    padding: 0;
}

.margin {
    &-top50 {
        margin-top:50px;
    }
    &-top45{
        margin-top: 45px;
    }
    &-top35 {
        margin-top: 35px;
    }
}


.video-frame {
    height: 640px;
    background-size: cover;
    background-position: center top;

    @media only screen and (max-width:800px) {
        height: 300px;
    }
}


.row {
    &::before,
    &::after {
    display: inline-block !important;
    }
}