@media screen and (-webkit-min-device-pixel-ratio:0) {
     ::i-block-chrome,
    .grid-custom .grid-col.grid-col2 {
        display: block;
    }
    // homepage
     ::i-block-chrome,
    .grid-col__item.grid-col__item--left,
    .grid-col__item.grid-col__item--right {
        display: block;
        width: 50%;
        float: left;
    }
     ::i-block-chrome,
    .banner.main-banner {
        height: 900px;
    }
     ::i-block-chrome,
    header.main-navigation>div {
        width: auto !important;
        margin: inherit !important;
    }
}

@media only screen and (max-width:1024px) {
    .dashboard__head--inside h2 {
        font-size: 2.5em;
    }
    .order-details__body .mapouter .gmap_canvas,
    .order-details__body .mapouter {
        width: 100%;
    }
    .order-details__body .mapouter .gmap_canvas iframe {
        width: 100%;
        height: 100%;
    }
    .order-details__body .mapouter {
        margin-bottom: 55px;
    }
    .order-details__body .property-details-container {
        padding: 15px;
    }
    .dashboard__item.view-album .slideshow .gallery-image-item {
        height: auto !important;
        width: 100% !important;
    }
    .dashboard__item.view-album .slideshow {
        overflow: hidden;
    }
    .order-details__body .col-md-7.property-details-container__white-container {
        padding: 10px;
        margin: 0;
        display: block;
        top: 15px;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .order-details__body .col-md-4.property-details-container__white-container {
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 35px;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width:900px) {
    .dashboard__item.view-album .slideshow {
        height: auto;
        position: relative;
        min-height: 400px;
    }
}