section {
    .container {
        max-width: $max-content;

        @media only screen and (max-width:1024px) {
            padding: 20px;
        }
    }
}


.services-display {
    padding: 50px 0;
    position: relative;

    @media only screen and (max-width:480px) {
        padding: 20px 0;
    }

    .services-headings {
        @media only screen and (max-width:480px) {
            .col-md-6 {
                &:last-child() {
                    // padding-left: 12%;
                }

            }
        }
        @media only screen and (max-width:800px) {
            .col-md-6 {
                &:last-child() {
                    // padding-left: 10%;
                    // padding: 0px 60px 0px 75px !important;
                }

            }

            > div {
                > div  {
                    > div {
                        display: block !important;
                        padding: 10px 35px !important;
                        padding-right: 0 !important;
                    }
                }
            }

        }

    }


    &__item {
        margin-bottom: 40px;
    }


    &__content {

        a {
            text-decoration: none;
            font-family: $font-third;
            font-weight: 300;


            &:hover {
                h2 {
                    color: $color-secondary;
                }
            }
        }


        &:hover {

            .services-display--feature-image {
                background-size: 140% auto !important;
                background-position: center !important;
            }

            // zoom
            .services-display--content {
                // @include transform_translate(0%,-160%);
                @include transform_translate(2%,0%);
                @include t-white(.9);
                // margin: 23px 50px;
                // padding: 8px;
            }

            // .services-display--feature-image {
            //     border: 5px solid $color-secondary;
            //     @include transform_scale(.9,.9);
            //     -webkit-box-shadow: 0 10px 20px 0 rgba(0,0,0,.2);
            //     box-shadow: 0 10px 20px 0 rgba(0,0,0,.2);
            // }

        }
    }

    &--feature-image {
        height: 400px;
        // background-size: cover !important;
        background-size: 110% auto !important;
        background-position: center !important;
        margin-bottom: 10px;
        @include transition(1s);

        @media only screen and (max-width:480px) {
            background-size: cover !important;
        }

        @media only screen and (max-width:1350px) {
            background-size:cover !important;
        }
    }

    &--content {
        @include transition(0.3s);

        h2 {
            font-size: em(30px);
            color: $color-dark;
            text-transform: uppercase;
            font-family: $font-third;
            font-weight: 300;

            @media only screen and (max-width:480px) {
                font-size: 1.5em;
            }
        }
    }

    &__overview-details {
        margin-bottom: 35px;

        .article-main {
            padding-left: 20px !important;
            margin-left: 30px !important;

            @media only screen and (min-width:800px) {
                padding-left: 0 !important;
            }
        }

        @media only screen and (min-width:1000px) {
            &.padding-left15 {
                padding-left: 20% !important;
            }
        }

        .article-main__label {
            left: -190px;
        }
    }

    &__pricing  {
        margin-bottom: 35px;
        padding-left: 25px;

        @media only screen and (min-width:1000px) {
            &.padding-left15 {
                padding-left: 20% !important;
            }
        }

        .single-heading,
        .table {
            margin-left: 30px;
        }

    }

    &__tables {
        @media only screen and (min-width:1000px) {
            padding-left:50px;
        }
    }

    &__image {


        .image-display {
            &:before {
                width: 80%;
                position: absolute;
                top: -6px;
                right: 0;
                height: 7px;
                background: $color-black;
                content: '';
            }
            position: relative;
            height: 300px;
            background-size: cover;
            background-position: center;
        }

        .content-display {
            .title {
                text-transform: uppercase;
                padding: 15px 0;
            }
        }
    }



    // for single block
    &__single  {
        .container {
            max-width: 100%;
        }

        .btn.btn-calendar {
            display: none;
        }

        &--items {
            padding: 0;

            @media only screen and (max-width:1000px) {
                display: block;
                width: 100% !important;
                max-width: 100% !important;
                flex: inherit;
                padding: 0 20px;
            }

        }
        &--left {
            .article-main {
                padding-left: 20px;
                padding-right: 0 !important;

                @media only screen and (max-width:800px) {
                    padding-left: 0px !important;
                }

                .single-heading {
                    margin-bottom: 15px;

                    h4 {
                        text-transform: uppercase;
                    }
                }
            }



            &.padding-space {
                padding-left: 10%;
            }


        }

        &--right {
            padding-left: 20px;

            @media only screen and (min-width:1000px) {
                &.padding-space {
                    padding-right: 10%;
                }
            }

        }

    }

    &__pricing {
        table {
            td {
                border: 0 !important;
                padding: 2px 0px !important
            }
        }
    }


    .feature-main__item--label {
        .article-main__wrapper {
            p {
                font-family: $font-third;
                font-size: 1.2em;
                font-weight: 500;

                @media only screen and (max-width:480px) {
                    font-size: 1em;
                }
            }
        }

        @media only screen and (max-width:1500px) {
            padding-right: 50px;
        }

    }

}

@media only screen and (min-width:1000px) {

    .padding-left15 {
        padding-left: 15%;
    }

}


.accordion-display {
    padding: 20px;
    position: relative;
    border: 1px solid $color-black;

    &:before {
        content: '';
        width: 70%;
        height: 7px;
        background: $color-black;
        top: -7px;
        left: 0;
        position: absolute;
    }
}




#search-table_wrapper {

    > .row {
        width: 100%;
        padding: 0;
        margin: 0;

        div {
            display: block !important;
            width: 100% !important;
            max-width: 100%;
            padding: 0 !important;
            margin: 0 !important;
            float: none !important;
            flex: inherit;
            text-align: center;

           #search-table_paginate {
                margin-top: 20px !important;
           }

            ul.pagination {
                display: inline-block !important;

                >li>a,
                >li>span {
                    position: relative;
                    float: left;
                    padding: 6px 12px;
                    line-height: 1.42857143;
                    text-decoration: none;
                    color: #f37f24;
                    background-color: #fff;
                    border: 1px solid #ddd;
                    margin-left: -1px
                }

                >li>a:hover,
                >li>span:hover,
                >li>a:focus,
                >li>span:focus {
                    z-index: 2;
                    color: #f37f24;
                    background-color: #eee;
                    border-color: #ddd
                }

                >.active>a,
                >.active>span,
                >.active>a:hover,
                >.active>span:hover,
                >.active>a:focus,
                >.active>span:focus {
                    z-index: 3;
                    color: #fff;
                    background-color: #f37f24;
                    border-color: #f37f24;
                    cursor: default
                }

                >.disabled>span,
                >.disabled>span:hover,
                >.disabled>span:focus,
                >.disabled>a,
                >.disabled>a:hover,
                >.disabled>a:focus {
                    color: #777;
                    background-color: #fff;
                    border-color: #ddd;
                    cursor: not-allowed
                }
            }

            &.col-sm-6.col-xs-5 {
                position: absolute;
                width: 47px !important;
                right: 10px;
                top: 5px;
                display: none !important;
            }
        }
    }

    table#search-table {
        border: 0;
        tbody {
            td {
                border: 0 !important;

                a {
                    //display: block;
                    color: #333333;
                    font-weight: bold;

                    b > i {
                        color: #f37f24;
                    }
                }
            }
        }
        thead {
            th {
                background: $color-secondary;
                border: 0 !important;
                font-size: 2em;
                text-align: center !important;
                color: $color-white;
                padding: 5px 20px !important;
            }
        }
    }

}