.property-details-container {
  background-size: cover;
  max-height: 100vh;

  &__white-container {
    background: #fff;
    padding: 20px;
    margin: 100px 0px;
    -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
    border: 5px solid white;
    //border-radius: 25px;

    table {
      tr {
        td {
          border-top: 0;
          text-align: center;
          color: #000;
          p {
            font-size: 14px;
          }
          a {
            text-decoration: none;
          }
        }
      }
    }

    ul.share-icons {
      text-align: left;
      li {
        display: inline-block;
        font-size: 25px;
        margin-right: 10px;
      }
    }
  }
}